/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    padding: 20px;
    color: #333;
}

/* Container do formulário */
#objetos {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Título do formulário */
.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #5c6bc0;
}

/* Estilo dos campos de entrada */
.campo {
    margin-bottom: 15px;
}

/* Labels */
label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

/* Inputs */
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #5c6bc0;
    box-shadow: 0 0 5px rgba(92, 107, 192, 0.3);
}

/* Botão */
#botaoes {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 12px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #5c6bc0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-remover-tudo{
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #c21010;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-remover{ padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #c21010;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
text-align: center;}



.dados{
    padding: 10px;
}




.btn:hover {
    background-color: #3f4c97;
}

/* Lista de contatos */
#listadecontatos {
    margin-top: 30px;
    background-color: #fff;
   border-radius: 10px;
   width: 100%;
   margin: auto;
}

#listadecontatos .remover {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

#listadecontatos .contato h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #5c6bc0;
}

#listadecontatos .contato p {
    font-size: 14px;
    color: #666;
}


hr{
    margin-bottom: 5px;
}
